
@viewport{
    zoom: 0;
    width: device-width;
}
body {
    background-color: #f1f2f6;
}

h1 {
    text-align: center;
    font-size: 28px;
    color: #2f3542;
    background-color: #fbc531;
    border-radius: 25px;
}

.container{
    height: 100%;
    background: #f5f6fa;


}

#qurybox {
    text-align: center;
    font-size: 15px;
    color: #e84118;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;

}


#answer {
    text-align: center;
    font-size: 18px;
    color: blue;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding-top: 5px;
}

input {
    display: grid;
    font-size: 18px;
    width: 200px;
    height: 30px;
    background-color: white;
    margin-left: 0 auto !important;
    margin-right: 0 auto !important;
   -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}
input[type=text]:focus {
    width: 40%;
  }

.texto {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 35px;
    margin-top: 10px;
}

.carrusel{
    width: 100% !important;
    height: 250px !important;
    display: inline-block;
}
img {
    border: 2px solid red;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
    .carousel {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: auto;
    }
    .carrusel{
        width: 100% !important;
        height: 150px !important;
        display: inline-block;
    }
    
    .texto {
        text-align: center;
        font-size: 12px;
        color: #2f3542;
        background-color: #fbc531;
        border-radius: 25px;
    }

    p{
        font-size: 12px;
    }

    footer{
        font-family:Arial;
        font-size:16pt;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }
}



footer{
    font-family:Arial;
    font-size:16pt;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    width:100%;
    height:auto;
    background:#fbc531;
    color:#192a56;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: static;
    border-radius: 5px;
    margin-top: auto;
   
}

.button{
    font-family:Arial;
    font-size:16pt;
    padding-bottom: 5px;
    padding-top: 5px;
    width:200px;
    height:auto;
    background:#f5f6fa;
    color:#192a56;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 45px;
}
